<!-- Using Base Template -->
{% extends "Base.html" %}

<!-- Overiding contents of block content in Base.html -->
{% block content %}
    <!-- <h1> {{ current_user.username }} </h1> -->
    <div class="border border-2 m-3 p-3 shadow rounded ">
        <div class="container text-center">
            <img class="profile-lg pb-2" src="{{ image_file }}">
            <!-- <div class="card m-2 p-2 text-center lead bg-dark-cyan">Follow</div>  -->
        </div>

        <div class="row fs-5 border m-2 p-2">
            <div class="col border-end text text-center"> Name </div>
            <div class="col text-center"> {{ current_user.username }} </div>
        </div>
        <div class="row fs-5 border m-2 p-2">
            <div class="col border-end text-center"> Email </div>
            <div class="col text-center"> {{ current_user.email }} </div>
        </div>
    </div>
        <div class="p-4">
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="card">
                    <div class="card-header p-3 fs-5 bg-dark-cyan text-center">Update Profile</div>
                    <div class="card-body ms-4 me-4">
                        <div class="form-group pt-2">
                            {{ form.username.label(class="form-control-label") }}
                            <!-- Check if field invalid -->
                            {% if form.username.errors %}
                                {{ form.username(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                        <span> {{ error }} </span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.username(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group pt-2">
                            {{ form.email.label(class="form-control-label") }}
                            <!-- Check if field invalid -->
                            {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span> {{ error }} </span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group pt-2">
                            {{ form.picture.label(class="form-control-label mb-1") }}
                            {{ form.picture(class="form-control form-control-lg", type="file") }}
                            {% if form.picture.errors %}
                                {% for error in form.picture.errors %}
                                        <span class="text-danger"> {{ error }} </span></br>
                                {% endfor %}
                            {% endif %}
                        </div>
                    <div class="form-group text-center p-3">
                        {{ form.submit(class="btn bg-dark-cyan p-2 ps-4 pe-4") }}
                    </div>
                </div>
            </form>
        </div>
{% endblock content %}